.card {
  box-shadow: 0 0 30px 5px rgba(28, 43, 76, 0.1);
  border-radius: 15px;
}

.card-video {
  width: 350px;
  max-height: 300px;
  opacity: 1;
}

.card-video-player {
  display: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 350px;
  height: 197px;
}

.card-video:hover .card-video-player {
  display: flex;
  background-color: rgba(0, 125, 255, 0.3);
}

.card-video:hover p {
  color: #007dff !important;
}
