@tailwind base;
@tailwind components;
@tailwind utilities;

p,
h1,
h2,
h3,
h4,
span,
label {
  font-family: Plus Jakarta Sans, sans-serif !important;
  color: #2c3e50;
  line-height: 1.2;
}

.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.icon-social a {
  width: 46px;
  height: 46px;
  border-radius: 50%;
  font-size: 14px;
  line-height: 45px;
  color: #858da8;
  display: inline-block;
  background: #ebeef5;
  text-align: center;
  transition: all 0.2s linear;
}

.icon-social a:hover {
  background: #00aff0;
  color: #fff;
}

.icon-social a + a {
  margin-left: 10px;
}

.bg-light {
  background-color: #f0f8ff;
}

.text-blue,
.card-video:hover p {
  color: #007dff !important;
}

.blue-box {
  border: solid 2px #007dff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 10px;
}

.bg-wave {
  position: absolute;
  background-color: #e6f3ff;
  height: 1022px;
  display: block;
  right: -100px;
  left: 150px;
  transform: rotate(-43deg);
  top: 200px;
  width: 870px;
  border-radius: 80px;
  z-index: 2;
}

.button-blue {
  box-shadow: 0 20px 30px 0 rgba(12, 0, 46, 0.1);
  background-color: #007dff;
  display: inline-block;
  padding: 14px 30px;
  color: #fff;
  border-radius: 45px;
  border: 1px solid #007dff;
  transition: all 0.3s linear;
  font-weight: 600;
}

.card-video {
  box-shadow: 0 0 30px 5px rgba(28, 43, 76, 0.1);
  border-radius: 15px;
  width: 300px;
  max-height: 250px;
}

.card-video-player {
  display: none;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  width: 300px;
  height: 169px;
}

.card-video:hover .card-video-player {
  display: flex;
  background-color: rgba(0, 125, 255, 0.3);
}

.tooltip {
  border: solid 1px #2c3e50;
  border-radius: 30px;
}

.tooltip:hover {
  border-color: #007dff;
}

.tooltip:hover p {
  color: #007dff !important;
}

.tooltip.selected {
  border-color: #007dff !important;
  background-color: #007dff !important;
}

.tooltip.selected p {
  color: #fff !important;
}

.combo-box {
  border: solid 1px #2c3e50;
  border-radius: 10px;
}

.paginator-number-page.selected {
  border: solid 1px #007dff;
  border-radius: 5px;
}

.paginator-number-page:hover p,
.paginator-number-page.selected p {
  color: #007dff !important;
}
