@tailwind base;
@tailwind components;
@tailwind utilities;
@import url(../../components/components.css);

@layer base {
  @font-face {
    font-family: "PlusJakartaSans";
    src: url("/fonts/PlusJakartaSans-Regular.ttf");
    font-weight: 400;
  }
  @font-face {
    font-family: "PlusJakartaSans";
    src: url("/fonts/PlusJakartaSans-Medium.ttf");
    font-weight: 500;
  }
  @font-face {
    font-family: "PlusJakartaSans";
    src: url("/fonts/PlusJakartaSans-SemiBold.ttf");
    font-weight: 600;
  }
  @font-face {
    font-family: "PlusJakartaSans";
    src: url("/fonts/PlusJakartaSans-Bold.ttf");
    font-weight: 700;
  }
}

p,
h1,
h2,
h3,
h4,
span,
label {
  color: #2c3e50;
  line-height: 1.2;
}

.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.bg-light {
  background-color: #f0f8ff;
}

.bg-blue {
  background-color: #007dff;
}

.text-blue {
  color: #007dff !important;
}

.blue-box {
  border: solid 2px #007dff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 10px;
}

.bg-wave {
  position: absolute;
  background-color: #e6f3ff;
  height: 1022px;
  display: block;
  right: -100px;
  left: 150px;
  transform: rotate(-43deg);
  top: 200px;
  width: 870px;
  border-radius: 80px;
  z-index: 2;
}
